@mixin flex {
    display: flex;
    align-items: center;
}

.logo {
    @include flex();
    img {
        height: 60px;
    }
}

header {
    @include flex();
    justify-content: space-between;
    padding: 30px 30px;
    h2 {
        font-size: 1.7rem;
        cursor: pointer;
    }
}

.nav {
    display: none;
    cursor: pointer;
}

@media screen and (min-width: 760px) {
    
    .nav {
        @include flex();
    }
    li {
        padding: 0 10px;
    }

    .mobile-menu {
        display: none;
    }

  }

