.login-container {
  margin-inline: auto;
  width: min(90%, 30rem);
  text-align: center;
  height: 60vh;
  button {
    margin-bottom: 10px;
  }
}

.login-text {
  p {
    margin-top: 10px;
  }
  h2 {
    font-size: 4rem;
  }
}

.new-customer {
  @include flex();
  justify-content: center;
  color: rgba(99, 99, 99, 0.815);
  margin-top: 20px;
  p {
    margin-right: 10px;
  }
  a {
    transition: all 0.2s ease-in-out;
    color: #92a9bd;
    &:hover {
      color: black;
    }
  }
}

.google {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: min(90%, 80rem);
  img {
    height: 30px;
    margin-left: 5px
  }
  button {
    @include flex();
    justify-content: center;
    padding: 10px;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid #92a9bd;
    color: black;
    font-size: 1.2rem;
    height: 50px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        border: 1px solid black;
    }
  }
}
