@mixin flex {
    display: flex;
    align-items: center;
}

.collection {
    padding: 30px 30px;
    background-image: url("../Images/Product Page/Tooth Brush/cover.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    position: relative;
    height: 120px;
}

.collection-text {
    h2 {
        font-weight: 300;
        font-size: 1.5rem;
    }
    p {
        padding: 10px 0;
        
        font-weight: 100;
    }
    position: absolute;
    top: 10%;
    left: 5%;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 30px;
    gap: 30px;
}

.product {
    img {
        width: 300px;
        border-radius: 10px;
    }
}

.product-text {
    margin-top: 5px;
    p {
        padding: 3px 0;
    }
}

// Main individual product page

.individual-container {
    img {
        width: 350px;
        border-radius: 10px;
    }
    
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.image {
    @include flex();
    justify-content: center;
}

.title {
    @include flex();
    justify-content: space-between;
    p
}

